extends pug/layout.pug  

block styles
    link(rel="stylesheet", href="css/estilos.css")

block header
    include pug/header.pug

block scripts
    script(src="js/jquery.min.js")
    scirpt(src="app.js")